# Run nidas_udp_relay on a specific port for a specific project.  The project
# must be hardcoded here or set with an override file.
#
# This is intended to run as a user service for the isfs user on eol-rt-data.
# It does not need a ConditionHost because the isfs home directory is local
# to eol-rt-data.  It can be linked into the systemd user path and
# instantiated.

[Unit]
Description=NIDAS UDP Relay for port %i
After=network.target

[Service]
# Override this line with the project-specific header path.
# Environment=HEADER="-h %h/isfs/projects/MARSHALL2023/ISFS/config/marshall2023-header.txt"

# Need to exec with bash to get environment variable substitution.
ExecStart=/bin/bash -c 'exec /opt/nidas/bin/nidas_udp_relay -d -l info $HEADER -u %i'
TimeoutStartSec=5
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
